__pycache__/
*.py[cod]
*.so

build/
dist/
install/
log/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
.codex

*.swp
*.swo

launch/__pycache__/
visual_cobot/__pycache__/
visual_cobot/full_visual_control.py
visual_cobot/mp_env
visual_cobot/visual_cobot/mp_env